<%- include('../includes/head.ejs') %>
	</head>

	<body>
		<%- include('../includes/navigation.ejs') %>
			<main class="centered">
				<% if (product) { %>
					<h1>
						<%= product.title %>
					</h1>
					<hr>
					<div>
						<img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
					</div>
					<h2>$<%= product.price %>
					</h2>
					<p>
						<%= product.description %>
					</p>
					<%- include("../includes/add-to-cart.ejs") %>
						<% } else { %>
							<h1>No Product Found!</h1>
							<% } %>
			</main>
			<%- include('../includes/end.ejs') %>